---
---

@import "{{ site.theme }}";

body {
    font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
    padding: 0 0.5em;
    margin: 0;
}

$varela: "Varela Round", sans-serif;
$link: #0090d8;
$linkHover: #28beff;

h1, h2, h3, h4, h5, h6 {
    font-family: $varela;
    margin: 1em 0 0.5em;
}

a { color: $link; }
a:hover, a:focus { color: $linkHover; text-decoration: none; }

header {
    display: block;
    width: 100%;
    float: none;
    position: relative;
    padding: 0;

    @media screen and (max-width: 768px) {
        .logo {
            width: 255px;
        }
    }

    li {
        float: none;
        width: auto;
        display: inline;
        border: none;
        height: auto;
    }

    li:first-child a, li:last-child a {
        border-radius: 0;
    }

    .navbar-toggle {
        border: 1px solid $linkHover;
        border-radius: 0;
        margin: 1.5em;
        &.collapsed, & .icon-bar {
            border-color: $link;
        }
        .icon-bar {
            border: 1px solid $linkHover;
        }
    }
}

section {
    float: none;
    width: auto;
    padding: 0;
    margin: 2em 0 5em 0;
    border: none;
}

ul {
    margin: 0;
}

footer {
    bottom: 0;
    width: 100%;
    position: relative;
    float: none;
    text-align: center;
    background-color: #262626;
    color: #6c6c6c;
    padding: 1em 0;
    margin: 1em 0 0 0;

    a {
        color: #007bb9;
    }

    section {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    hr {
        background-color: #6c6c6c;
        margin: 1em;
    }

    .links {
        font-size: 9pt;
        margin: 0 1em;
    }

    .social {
        margin-top: 1em;

        li {
            margin: 0 0.5em;
            display: inline;
        }
    }

    ol {
        margin: 0 2em;
    }
}


footer ol, ol.banner, ol.cta, ol.posts, ol.recent-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    margin: 2em;
}

aside {
    margin: 2em 0;
}

.wrapper {
    width: 1024px;
}

.dropdown-menu {
    border-radius: 0;
    border: none;

    > li > a:hover, > li > a:focus {
        background-image: none;
        color: $linkHover
    }
}


.centered {
    text-align: center;
}

@mixin bannerHeight {
    @media screen and (min-width: 768px) {
        height: 340px;
    }
    @media screen and (max-width: 768px) {
        height: 200px;
    }
}

.banner {
    @include bannerHeight;
    background-color: black;
    overflow: hidden;
}

.motto {
    @include bannerHeight;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    animation-delay: 7s;
    @media screen and (min-width: 768px) {
        padding: 6em 0;
    }
    @media screen and (max-width: 768px) {
        padding: 1em 0;
    }
}
.motto-word, .motto-phrase {
    color: white;
    font-size: 24pt;
    font-family: $varela;
    margin: 1em 0;
    padding: 1em 0;
}
.motto-phrase {
    font-size: 16pt;
}
#motto-1 { animation-delay: 1s; }
#motto-2 { animation-delay: 2s; }
#motto-3 { animation-delay: 3s; }
#motto-4 { animation-delay: 4s; display: block; }

#reel {
    @include bannerHeight;
    width: 100%;
    @media screen and (min-width: 768px) {
        transform: translateY(90px) scale(1.6);
    }
    @media screen and (max-width: 768px) {
        transform: translateY(0) scale(1);
    }
    pointer-events: none;
}

#reel.hidden {
    visibility: hidden;
    position: absolute;
}

.cta {
    li {
        display: inline-block;
        border: 1px solid grey;
        margin: 0.5em;
        padding: 1em 0;
        width: 11em;
    }
    .fa {
        display: block;
    }
}

.fineprint { font-size: 85%; }
em.fineprint { font-weight: bold; font-style: normal; }

figure { margin: 1em 0; }
figcaption { font-size: 90%; font-style: italic; }

li > img, p > img {
    width: 16px;
    height: 16px;
}

pre {
    border-radius: 0;
}
li code, p code {
    background: #F8F8F8;
    border: 1px solid #E5E5E5;
    padding: 0.2em;
}

figure, a[data-featherlight] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    img, video {
        width: auto;
        max-width: 100%;
    }
}

.posts .post-item {
    margin: 1em 0;
    display: flex;
    border: 1px solid #eee;
    padding: 0.2em;
    .thumbnail {
        width: 14em;
        height: 14em;
        flex: 14em 0 0;
        margin: 0 0.5em;
        box-shadow: none;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .details {
        padding-top: 1em;

        .title {
            color: inherit;
            font-size: 16pt;
            display: inline;
        }
        .excerpt {
            color: #888;
        }
    }
}

.post-date {
    font-family: $varela;
    position: relative;
    top: -0.5em;
    font-size: 13pt;
}

.pagination {
    text-align: center;
}
