<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{% if page.title %}{{ page.title }} - {% endif %}AltspaceVR Developer Portal</title>

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

        <script defer src="/assets/js/fontawesome/all.min.js"></script>
        <script defer src="/assets/js/fontawesome/v4-shims.min.js"></script>        
        <link href="/assets/css/fontawesome/all.mins.css" rel="stylesheet">
        <link href="/assets/css/fontawesome/v4-shims.min.css" rel="stylesheet">        

        <script src="/assets/js/jquery-3.2.1.min.js"></script>

        <script src="/assets/js/bootstrap.min.js"></script>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">

        <script src="/assets/js/featherlight.min.js"></script>
        <link href="/assets/css/featherlight.min.css" rel="stylesheet">

        <link href="/assets/css/animate.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/style.css?v={{ site.github.build_revision }}">

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header class="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img class="logo" src="/assets/images/logo.png" /></a>
                </div>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ol class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="https://discord.gg/ypvBkWz">Community</a></li>
                        <li><a href="https://help.altvr.com/">Help Desk</a></li>
                        <li><a href="https://altvr.com/">AltVR.com</a></li>
                    </ol>
                </div>
            </header>
            <section>

            {% if page.title %}
            <h1>
                {% if page.parent %}
                <a href="/{{ page.parent | slugify }}">{{ page.parent }}</a> -
                {% elsif layout.parent %}
                <a href="/{{ layout.parent | slugify }}">{{ layout.parent }}</a> -
                {% endif %}
                {{ page.title }}
            </h1>
            {% endif %}

            {{ content }}

            </section>
        </div>
        <footer>
            <section>
                <ol class="links">
                    <li><a href="https://altvr.com/contact/">Contact Us</a></li>
                    <li><a href="https://aka.ms/privacy">Privacy Policy</a></li>
                    <li><a href="https://altvr.com/terms-of-service/">Terms of Service</a></li>
                </ol>
                <ol class="social">
                    <li><a href="https://twitter.com/altspacevr"><i class="fab fa-twitter fa-lg"></i></a></li>
                    <li><a href="https://facebook.com/altspacevr"><i class="fab fa-facebook fa-lg"></i></a></li>
                    <li><a href="https://www.reddit.com/r/AltspaceVR/"><i class="fab fa-reddit-alien fa-lg"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UC4mkmfU3NU72V7_3qZestpA"><i class="fab fa-youtube fa-lg"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/3178875"><i class="fab fa-linkedin fa-lg"></i></a></li>                    
                </ol>
            </section>
            <hr/>
            <em class="fineprint">
                &copy; {{ site.time | date: "%Y" }} by Microsoft.
                AltspaceVR&reg; and altvr&trade; are trademarks of Microsoft.
            </em><br/>
            <span class="fineprint">
                All other trademarks are the property of their respective owners. All rights reserved.
            </span>
        </footer>

        {% if site.google_analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
